html {
  scroll-behavior: smooth;
}

#main-doc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.table {
  border: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100rem;
  background-color: rgb(231, 225, 225);
}

nav li {
  padding: 19px;
  margin: 7px;
  list-style: none;
}

#head {
  font-size: 1.6rem;
  font-weight: bold;
}

.content {
  position: absolute;
  top: 0;
  left: 13%;
  margin-left: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 9px;
  line-height: 2rem;
  background-color: rgb(252, 238, 238);
}

#table {
  text-align: center;
}

.td {
  color: crimson;
  text-shadow: 1px 1px 2px rgb(250, 145, 145);
}

.para {
  color: crimson;
  text-shadow: 1px 1px 2px rgb(250, 145, 145);
}

.code {
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  padding: 10px;
  font-size: 1.1rem;
}

.output {
  color: green;
}

a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

a:hover {
  color: whitesmoke;
  background-color: black;
  border-radius: 15px;
  padding: 12px;
}

#head {
  color: blue;
  background-color: rgba(27, 27, 50, 0.4);
  text-align: center;
  width: 250px;
}

@media only screen and (max-width: 1700px) {
  .content {
    position: absolute;
    top: 0;
    left: 23%;
    margin-left: 180px;
  }
}

@media only screen and (min-width: 700px) {
  .table {
    font-size: 19px;
    right: 27%;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    width: 600px;
    font-size: 27px;
  }
}
